.answer {
  width: 300px;
  padding: 20px;
}

@media (min-width: 576px) {
  .answer {
    width: 565px;
  }
}

.form-control.d-xl-flex.justify-content-xl-center {
  width: 200px;
  margin: 0 auto;
}

.dropdown, .dropleft, .dropright, .dropup {
  width: 200px;
  margin: 0 auto;
}

.btn.btn-primary.dropdown-toggle {
  width: 200px;
}

.dropdown-menu {
  width: 200px;
}

