<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sQuiz - kostenlos Quiz erstellen und spielen</title>
    <meta property="og:type" content="website">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/static/assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="/static/assets/css/Data-Table.css">
    <link rel="stylesheet" href="/static/assets/css/Features-Clean.css">
    <link rel="stylesheet" href="/static/assets/css/Good-login-dropdown-menu-1.css">
    <link rel="stylesheet" href="/static/assets/css/Good-login-dropdown-menu.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
    <link rel="stylesheet" href="/static/assets/css/Team-Grid.css">
{% if title %}
        <title>{{title}}</title>
{% else %}
        <title>MISSING TITLE!</title>
{% endif %}
</head>

<body>{% extends "base_quiz.html" %}

{% block quiz_content %}
    <div class="container">
        <h1 class="text-center" style="font-size: 35px;padding-bottom: 14px;">{{session["question_number"] + 1}}/{{quiz.questions|length}}&nbsp;{{ question.content }}<br></h1>
        <h1></h1>
    </div>
    <form class="text-center answer" id="answer" method="post" style="margin: 0 auto;padding-top: 3px;" action="">{{ form.hidden_tag() }}
        <p>{{ form.answer.label }} <br>
{{ form.answer(size=32, autocomplete="off") }}
{% for error in form.answer.errors %}
<span style="color: red;">{{error}}</span>
{% endfor %}</p>
        <p>{{ form.submit() }}</p>
    </form>{% endblock %}
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</body>

</html>